# Processing global flights from March 18-20

### Load Python tools

In [1]:
import pandas as pd
from shapely.geometry import shape
import geopandas as gpd
import matplotlib
import matplotlib.pyplot as plt
import openpyxl
import altair as alt
from altair_saver import save
import lxml
import requests
from shapely.geometry import Point, LineString
import geojson
import json
import glob
import io
import os
import pyarrow
from shapely.geometry import Point, LineString, MultiLineString
import altair_latimes as lat
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')

ThemeRegistry.enable('latimes')

## FAA airline registristration

In [2]:
planes = pd.read_csv('/Users/mhustiles/data/github/notebooks/aircraft/output/airline_planes.csv')

### Standardize corporate strings that complicate merging, aggregates

In [3]:
planes['name'] = planes['name'].str.replace(' CORPORATION','').str.replace(' CORP','')\
.str.replace(' INC','').str.replace(' LLC','').str.replace('AIRLINES CO', 'AIRLINES')\
.str.replace('UNITED PARCEL SERVICE CO', 'UNITED PARCEL SERVICE').str.replace('AIRWAYS CORP', 'AIRWAYS')\
.str.replace('HORIZON AIR INDUSTRIES', 'HORIZON AIR')

In [4]:
planes['name'] = planes['name'].fillna('')

In [5]:
len(planes)

289820

### Import world aircraft DB

In [6]:
# https://github.com/junzis/aircraft-db
fleets = pd.read_csv('input/aircraft_db.csv', header=0, low_memory=False,\
                     names=['icao', 'n_number', 'model', 'type', 'name']).dropna()

In [7]:
fleets = fleets.applymap(lambda s:s.upper() if type(s) == str else s)

In [8]:
fleets.iloc[1000]

icao                06A138
n_number            A7-BAV
model                 B77W
type        BOEING 777-3DZ
name         QATAR AIRWAYS
Name: 1001, dtype: object

In [9]:
fleets['name'] = fleets['name'].dropna()

In [10]:
fleets[fleets['n_number'] == 'N127UW']

         icao n_number model             type        name
33545  A06F8A   N127UW  A320  AIRBUS A320-214  US AIRWAYS

In [11]:
planes_merge = planes.merge(fleets, on='n_number', how='left')

In [12]:
planes_merge.rename(columns={"name_x": "name", "name_y": "name_nu"}, inplace=True)

### Import airport database

In [13]:
airports = pd.read_csv('output/commercial_airports.csv')

### Clean up on leased planes

In [14]:
planes_merge.loc[(planes_merge.name == 'WELLS FARGO TRUST CO NA TRUSTEE'),'name']=planes_merge.name_nu
planes_merge.loc[(planes_merge.name == 'WELLS FARGO BANK NA'),'name']=planes_merge.name_nu
planes_merge.loc[(planes_merge.name == 'WILMINGTON TRUST CO TRUSTEE'),'name']=planes_merge.name_nu
planes_merge.loc[(planes_merge.name == 'BANK OF UTAH TRUSTEE'),'name']=planes_merge.name_nu

In [15]:
planes_merge['n_number'] = planes_merge['n_number'].fillna('')

In [16]:
len(planes_merge)

289852

## Process 'flights' metadata from flightradar24

In [17]:
path = '/Users/mhustiles/Desktop/flights/'
files = glob.glob(os.path.join(path, "*flights.csv"))

### Read the csvs and create a 'date' field in the table

In [18]:
file_df = (pd.read_csv(f, encoding = "ISO-8859-1", low_memory=False)\
           .assign(date=os.path.basename(f)) for f in files)

### Combined our newly processed flight files

In [19]:
flights_df_all = pd.concat(file_df, ignore_index=True)

In [20]:
len(flights_df_all)

404468

### Add owner names from FAA registration

In [21]:
flights_df_all.head()

,flight_id,aircraft_id,reg,equip,callsign,flight,schd_from,schd_to,real_to,reserved,date
0,607649302,7570216,SWP12,GRND,SWP12,NaN,NaN,NaN,NaN,NaN,20200319_flights.csv
1,607652913,4976825,NaN,NaN,ATES1,NaN,AYT,NaN,NaN,NaN,20200319_flights.csv
2,607654554,4976667,NaN,GRND,ATES10,NaN,ISL,NaN,NaN,NaN,20200319_flights.csv
3,607631247,4343670,VPCCN,GLEX,VPCCN,VPCCN,HKG,HEL,HEL,NaN,20200319_flights.csv
4,607643407,4939194,NaN,NaN,TU015,TU15,ZRH,NaN,NaN,NaN,20200319_flights.csv

In [22]:
planes.head()

                  name n_number
0          BENE MARY D   N100
1       STOOS ROBERT A   N10001
2  ENGLISH AIR SERVICE   N10002
3   CAMPBELL CHARLES N   N10003
4             ETOS AIR   N10004

In [23]:
flights_df = flights_df_all.merge(planes_merge.dropna(subset=['n_number']), \
                                  right_on='n_number', left_on='reg', how='left')\
.drop(['name_nu', 'model', 'type', 'icao'], axis=1)

In [24]:
flights_df.head()

,flight_id,aircraft_id,reg,equip,callsign,flight,schd_from,schd_to,real_to,reserved,date,name,n_number
0,607649302,7570216,SWP12,GRND,SWP12,NaN,NaN,NaN,NaN,NaN,20200319_flights.csv,NaN,NaN
1,607652913,4976825,NaN,NaN,ATES1,NaN,AYT,NaN,NaN,NaN,20200319_flights.csv,NaN,NaN
2,607654554,4976667,NaN,GRND,ATES10,NaN,ISL,NaN,NaN,NaN,20200319_flights.csv,NaN,NaN
3,607631247,4343670,VPCCN,GLEX,VPCCN,VPCCN,HKG,HEL,HEL,NaN,20200319_flights.csv,NaN,NaN
4,607643407,4939194,NaN,NaN,TU015,TU15,ZRH,NaN,NaN,NaN,20200319_flights.csv,NaN,NaN

### Clean up our dates for use later

In [25]:
flights_df['date'] = flights_df['date']\
    .str.replace('_flights.csv','')

In [26]:
flights_df['date'] = pd.to_datetime(flights_df.date, format='%Y%m%d')
flights_df['weekday'] = flights_df['date'].dt.weekday_name

### Filter flights list to large, commercial planes?

In [27]:
# cargo_planes = ['B77L', 'B744', 'B748', 'B762', 'B763', 'B75', 'MD1', 'DC1']

In [28]:
# flights_df = flights_df[~flights_df['equip'].isin(cargo_planes)]

### Remove stray flights without a defined destination

In [29]:
# flights_df = pd.DataFrame(flights_df.dropna(subset=['real_to']))

### What's left?

In [30]:
len(flights_df)

404794

In [31]:
global_flights = flights_df.groupby(['date']).agg('size').reset_index(name='flights')

In [32]:
global_flights.head(20)

        date  flights
0 2020-03-18   144180
1 2020-03-19   131871
2 2020-03-20   128743

### Filter global flights to just those airports in NYC

In [33]:
nyc_airports = ['EWR','JFK','LGA']

In [34]:
nyc_airports_flights = flights_df[flights_df['schd_from'].isin(nyc_airports)]

### Just those to LAX from NYC area airports on March 19

In [35]:
nyc_airports_to_lax = pd.DataFrame(flights_df[(flights_df['schd_from'].isin(nyc_airports))&\
                                (flights_df['real_to'] == 'LAX') & 
                                (flights_df['date'] == '2020-03-19')])

In [36]:
nyc_airports_totals_grouped = nyc_airports_flights.groupby(['date']).agg('size').reset_index(name='flights')

### All global flights from NYC

In [37]:
nyc_airports_totals_grouped

        date  flights
0 2020-03-18     2361
1 2020-03-19     2211
2 2020-03-20     2073

### How many flights were there on March 19 to LAX?

In [38]:
len(nyc_airports_to_lax)

67

In [39]:
nyc_airports_to_lax['fr24_url'] = 'https://www.flightradar24.com/data/flights/' \
    + (nyc_airports_to_lax['flight']).str.lower()

In [40]:
nyc_airports_to_lax.iloc[0]

flight_id                                             607708295
aircraft_id                                            11379239
reg                                                      N978JB
equip                                                      A321
callsign                                                 JBU623
flight                                                    B6623
schd_from                                                   JFK
schd_to                                                     LAX
real_to                                                     LAX
reserved                                                    NaN
date                                        2020-03-19 00:00:00
name                                            JETBLUE AIRWAYS
n_number                                                 N978JB
weekday                                                Thursday
fr24_url       https://www.flightradar24.com/data/flights/b6623
Name: 647, dtype: object

### Export to CSV for Kiera

In [41]:
nyc_airports_to_lax.sort_values(by='flight_id', ascending=True).to_csv('output/nyc_lax.csv')

In [42]:
nyc_airports_to_lax.head()

,flight_id,aircraft_id,reg,equip,callsign,flight,schd_from,schd_to,real_to,reserved,date,name,n_number,weekday,fr24_url
647,607708295,11379239,N978JB,A321,JBU623,B6623,JFK,LAX,LAX,NaN,2020-03-19,JETBLUE AIRWAYS,N978JB,Thursday,https://www.flightradar24.com/data/flights/b6623
805,607716019,10490130,N103NN,A321,AAL341,AA341,JFK,LAX,LAX,NaN,2020-03-19,AMERICAN AIRLINES,N103NN,Thursday,https://www.flightradar24.com/data/flights/aa341
1057,607722771,10525035,N138FE,B763,FDX3013,FX3013,EWR,LAX,LAX,NaN,2020-03-19,FEDERAL EXPRESS,N138FE,Thursday,https://www.flightradar24.com/data/flights/fx3013
1172,607726663,11368193,N967JT,A321,JBU1323,B61323,JFK,LAX,LAX,NaN,2020-03-19,JETBLUE AIRWAYS,N967JT,Thursday,https://www.flightradar24.com/data/flights/b61323
1271,607728790,11383644,N982JB,A321,JBU1523,B61523,JFK,LAX,LAX,NaN,2020-03-19,JETBLUE AIRWAYS,N982JB,Thursday,https://www.flightradar24.com/data/flights/b61523

In [43]:
len(nyc_airports_to_lax)

67

In [47]:
nyc_airports_to_lax.name.value_counts()

AMERICAN AIRLINES    15
UNITED AIRLINES      14
JETBLUE AIRWAYS      13
ALASKA AIRLINES      11
DELTA AIR LINES       8
FEDERAL EXPRESS       3
JET BLUE AIRWAYS      2
Name: name, dtype: int64

### Unfortunately there's no time field in the data, but these urls have flight histories for each flight

In [45]:
print(nyc_airports_to_lax['fr24_url'])

647        https://www.flightradar24.com/data/flights/b6623
805        https://www.flightradar24.com/data/flights/aa341
1057      https://www.flightradar24.com/data/flights/fx3013
1172      https://www.flightradar24.com/data/flights/b61323
1271      https://www.flightradar24.com/data/flights/b61523
                                ...
126564    https://www.flightradar24.com/data/flights/ua1871
126594     https://www.flightradar24.com/data/flights/as331
127500     https://www.flightradar24.com/data/flights/dl427
128626     https://www.flightradar24.com/data/flights/as229
131610     https://www.flightradar24.com/data/flights/aa117
Name: fr24_url, Length: 67, dtype: object